name: Workflow for development

on:
  # Carry out builds on all push events (exclude production)
  push:
    branches-ignore:
    - 'develop'
  workflow_dispatch:

jobs:
  development-ci:
    name: Perform CI flow for development
    uses: ./.github/workflows/ci.yml
    with:
      target-env: development
    secrets: inherit
    
  build:
    needs: development-ci
    name:  Build Release
    uses: ./.github/workflows/build.yml
    with:
      target-env: development
    secrets: inherit

  create-release:
    needs: build
    name: Tag Release & Deploy
    uses: ./.github/workflows/release.yml
    with:
      target-env: development
    secrets: inherit
